/* MENU */

.navbar{
    position: absolute !important;
    z-index: 1 !important;
}

.bg-light{
    background-color: #9940FF !important;
}

.navbar-toggler{
    border: none !important;
}

.navbar-toggler-icon{
    background-image: url(../img/hamburguer-menu.svg) !important;
    height: 45px;
    width: 45px;
    background-size: contain;
    transform: rotate(0deg);
    animation-name: rotationIcon;
    animation-iteration-count: infinite;
    animation-duration: .7s;
}

/* TEXT IN MENU */

.link{
    color: white !important;
    padding: 20px 10px;
    width: 90%;
    margin-left: 15px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    overflow-y: hidden;

    transition: all .6s;    
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
}

.link:hover{
    background-color: white;
    color: #9940ff !important;

}

/* ****************** */
/* ANIMATION */

@keyframes rotationIcon{
    0%, 100%{
        transform: rotate(-5deg) scale(1) ;
    }
    50%{
        transform: rotate(5deg) scale(1.03);
    }

}

/* ************************** */
/* github and linkedin icons */

.linkedin-icon, .github-icon{
    text-align: center;
    border-bottom: none;
    padding: 20px 10px;
    margin-left: 5px;
}

.fab:hover{
    background-color: transparent;
    transform: scale(1.3);
}

.fab{
    color: white;
    font-size: 30px;
    transition: all .6s;
}


@media(min-width: 990px){
    .link{
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
        border-bottom: none;
    }
    .navbar-nav{
        height: 85px;
    }
}
