/* MENU */

.navbar{
    position: absolute !important;
}

.bg-light{
    background-color: #9940FF !important;
}

.navbar-toggler{
    border: none !important;
}

.navbar-toggler-icon{
    background-image: url(../img/hamburguer-menu.svg) !important;
    height: 45px;
    width: 45px;
    background-size: contain;
    transform: rotate(0deg);
    animation-name: rotationIcon;
    animation-iteration-count: infinite;
    animation-duration: .7s;
}

/* TEXT IN MENU */

.nav-link{
    color: white !important;
    padding: 20px 10px;
    width: 90%;
    margin-left: 15px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;

    transition: all .6s;    
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
}

.nav-link:hover{
    transform: scale(1.1);
    background-color: white;
    color: #9940ff !important;
    border-radius: 10px;
}

/* ****************** */
/* ANIMATION */

@keyframes rotationIcon{
    0%, 100%{
        transform: rotate(-2deg) scale(1) ;
    }
    50%{
        transform: rotate(2deg) scale(1.03);
    }

}

/* ************************** */
